#payment{
    width: 80%;
    
}
.payment__form{
    padding-left: 24px;
    padding-bottom: 24px;
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}
.payment__form-order{
    margin-bottom: 24px;

}
.payment__form-method{
    width: 606px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8rem;
    margin-left: 20%;
   
}
.payment__form-method-container{

}
.payment__container{

}
.payment__header{
    font-size: 1.3rem;
}
.payment__form{

}
.payment__form-group{

}
.payment__label{

}
.payment__order-summary{

    line-height: 1.4rem;
    height:120px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 12px 24px;
    margin: 24px 48px;

    
}

.payment__image{
    width: 100px;
}
.payment__price-container{
  padding-right:  20px;
  margin-left: 66px;
    
}

.payment__price{
    color: red;
}
.payment__price--strike{

}
.payment__discount{
    width: 80%;
    margin: 42px 0;
    margin-left: 20%;


}
.payment__input{
    width: 600px;
    height: 30px;
    border: 1.5px solid black;

}
.payment__select{
    width: 608px;
    border: 1.5px solid black;
    height: 35px;
    margin-bottom: 14px;
    color: #757575;
    
}
.payment__summary-container{
    border-top: 2px dashed black;
    padding-top: 12px;
}
.payment__summary{
    display: flex;
    justify-content: space-between;
    line-height: 1.6rem;
    
}
.payment__total{
    border-top: 2px dashed black;
    padding-top: 12px;
}

.payment__button{
    float: right;
    cursor: pointer;
    height: 35px;
    width: 200px;
    border-radius: 2px;
    background-color: var(--primary);
    align-self: flex-end;
    margin-top: 24px;
    font-size: 1.1rem;
    color: var(--font);
}
.payment__button:hover{
    filter: brightness(95%);
}
            
.payment__form-address{
    width: 100%;
    font-size: 1.1rem;
    background-color: white;
    box-shadow: 0 1px 1px 1px rgb(226, 226, 226);
    margin-bottom: 24px;
    padding: 12px 24px;
    display: block;
    box-sizing: border-box;
}
.payment__form-address-group{
    
    padding: 12px 48px;
    display: flex;
    justify-content: space-between;
}

.payment__form-address-button{
    font-size: 1.1rem;
    color: blue;
    cursor: pointer;
}
.payment__form-address-border{
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    background-position-x: -30px;
    background-size: 116px 3px;
    height: 3px;
    width: 100%;

}

.payment__form-container{
    width: 100%;
    font-size: 1.1rem;
    background-color: white;
    box-shadow: 0 1px 1px 1px rgb(226, 226, 226);
    margin-bottom: 24px;
    padding: 12px 24px;
    display: block;
    box-sizing: border-box;
}