#address{
    width: 100%;
}
.address_group{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-top: 12px;
    line-height: 1.8rem;
    font-size: 1.1rem;
}
.address__header{
    align-content: center;
}

.address__add-new{
    background-color: var(--primary);
    color: black;
    border-radius: 2px;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 1.1rem;
}

.address__btn-action{
    color: blue;
    margin-left: 24px;
    font-size: 1rem;
    float: right;
    margin-bottom: 12px;
}
.address__btn-setdefault{
    border: 1px solid rgb(152, 150, 150);
    background-color: rgb(246, 246, 246);
    color: black;
    border-radius: 2px;
    padding: 6px 24px;
    font-size: 1.1rem;
    cursor: pointer;
}
.address__container{
    padding: 0 24px;
    background-color: white;
    min-height: 600px;
}
.address-item{
    border-bottom: 1px solid rgb(201, 201, 201);
    
}
.address__modal{

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.252);
    display: none;
    align-items: center;
    justify-content: center;
}
.address__form-add{
    padding: 24px;
    background-color: white;
    width: 500px;
    border-radius: 5px;
    animation: fadeIn ease-in 0.2s;

}

.address__form-add-header{
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding-bottom: 12px;
}
.address__form-add-group{
    width: 100%;
}
.address__form-add-input{
    width: 100%;
    box-sizing: border-box;
    height: 34px;
    color: gray;
    margin-bottom: 12px;
    font-size: 1rem;
}
.address__form-add-btn{
    height: 35px;
    width: fit-content;
    padding: 0 24px;
    background-color: var(--primary);
    color: black;
    border-radius: 2px;
    border: none;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.address__form-add-cancel{
    background-color: rgb(229, 229, 229);
    margin-right: 12px;
    border: 1px solid black;
   
}